.formSlider{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 80%; */
}
.btnSelectAlcohol{
margin: 50px;

}
.btnA{
  background: #ac973b;
  padding: 0.5em;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}
.btnS{
  background: #e9b76df6;
  padding: 0.5em;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  cursor: pointer;

}
.form{
  margin: 50px;
}
