* {
    margin: 0;
    padding: 0;
}

.AlcoholFilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alcoholFilterEntry {
    margin: 10% 0;
}

.alcoholFilterEntry .numberField {
    width: 15%;
    margin: 2%;
    min-height: 100%;

}

.sweetAndSaltyButtons {
    margin: 10% 0;
}

.sweetAndSaltyButtons button {
    min-width: 30%;
}