#CocktailFilters {
	padding: 0%;
	height: 756px;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

.Navbar{
	position: absolute;
	bottom:0;
}

.CocktF{
	color:white;
}

.CocktF{
	color:black;
}
