.NavbarButton{
    background-color:black;
    display:flex;
    height:80px;
    padding:2%;
}

.pizzaNavbarButton, .NavbarHomeButton, .cocktailNavbarButton {
    background-color:black;
    border:none;
}