.Navbar {
	display: flex;
	flex-direction: row-reverse;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	);
}

img,
#revolver {
	width: 15%;
}
