.PresOfFood{
    width: 100%;
    background-image:url(https://zupimages.net/up/19/44/1czf.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.PresOfFood h2 {
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
    color:white;
    font-family: 'Bigshot One', cursive;
    font-size:3em;
    }

.buttonRefresh, .buttonBack,.goBack, .goRefresh{
    width:100px;
    height:100px;
}

.orga{
    display:flex;
    margin-left:40%;
    margin-right:40%;
    margin-bottom:50px;
    justify-content: space-between;
}