.PresOfFood{
    width: 100%;
    background-image:url(https://zupimages.net/up/19/44/1czf.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.PresOfFood h2 {
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
    color:white;
    font-family: 'Bigshot One', cursive;
    font-size:3em;
    }

.buttonRefresh, .buttonBack,.goBack, .goRefresh{
    width:50px;
    height:50px;
    background:black;
}

.buttonRefresh, .buttonBack{
    margin-left:5px;
}

.orga{
    display:flex;
    flex-direction:column;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:50px;
    justify-content: space-between;
}

.fourchette{
    display:flex;
    justify-content:center;
}
.orga p{
    color:white;
    font-family: 'Bigshot One', cursive;
    font-size:1.5em;
    margin-bottom:5%;
}
.align{
    display:flex;
    
}


@media only screen and (max-width: 415px) {
    .PresOfFood h2 {
        font-size: 1.7em;
        padding: 0.5em;
    }	
}