@media only screen and (max-width:720px){
	.Title {
		width:100%;
		padding:0;
		font-family: 'Fascinate Inline', cursive;
		font-size:1.5em;
		display: flex;
		flex-direction: row-reverse;
		background-image: linear-gradient(
			to left,
			white,
			white,
			black
		);
	}
}



.revolver {
	width: 20%;
}

#TitleName{
	display:flex;
	vertical-align:middle;
	padding-top:20px;
}

.Title h1{
background: -webkit-linear-gradient(

	rgba(185, 139, 68, 0.822),
	black,
	white);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color:white;
} 
.titleShow{
	color: rgb(224, 205, 30);
   }


@media only screen and (min-width: 415px) {
	.Title{
		font-size:40px;
		border-radius:0 820px 0 0;
		width:50%;
		margin-left:50%;
	}
	.Title {
		padding:0;
		font-family: 'Fascinate Inline', cursive;
		display: flex;
		flex-direction: row-reverse;
		background-image: linear-gradient(
			to left,
			white,
			white,
			black
		);
		border-radius:820px 0 0 0;
	}
	.titleShow{
		color: rgb(224, 205, 30);
	   }
}