* {
	margin: 0;
	padding: 0;
}
.ingredientCard {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	flex-wrap: nowrap;
	margin: 1rem;
	margin-left: 25%;
	padding: 0.5em;
	width: 50%;
	height: 35vh;
	background-color:rgb(15, 15, 15);
	border-radius: 5px;
	border-width:5px 5px 5px 5px;
    border-style: double;
    border-color: rgba(185, 139, 68, 0.822);
	color: rgb(231, 231, 231);	
}
.productImage {
	max-width: 45%;
	max-height: 30vh;
	align-self: center;
	padding: 1em;
}
.productInfos {
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: space-around;
	align-items: center;
}
.productInfos p {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.productName {
	font-weight: bold;
}
.openModal {
	height:'30px'; 
	width:'100px';
	background-color:rgb(15, 15, 15);
	color: rgb(231, 231, 231);
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(185, 139, 68, 0.822);
	padding: 0.5em;

}
.close {
	align-self: flex-start;
	background-color: rgb(15, 15, 15);
	border: none;
	font-size: 3em;
	color: rgb(197, 197, 197);
}

@media only screen and (max-width: 415px) {
	.ingredientCard {
		margin: 1em auto;
		padding: 0;
		width: 90%;
		min-height: 35vh;
		max-height: auto;
		font-size:15px;	
	}
	.productImage {
		max-width: 40%;
		max-height: 30vh;
		align-self: center;
		padding: 0.5em;
	}
	.productName{
		max-width: 100%;
	}
	.productOrigin {
		display:none;
	}
}